body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url("../../assets/bg-img.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: soft-light;
  overflow-x: hidden;
  justify-content: center;
  display: flex;
  align-items: center;
}
.top-header {
  position: absolute;
  top: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.triangle-icon {
  width: 50px;
  height: 70px;
  padding-left: 10%;

  /* position: absolute; */
  /* top: 5vh;
  left: 5vw; */
}
.icon {
  width: 150px;
  height: 150px;
  padding-right: 10%;
}

.loading-bar-container {
  position: relative;
  width: 50%;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  overflow: hidden;
}

.loading-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background: linear-gradient(180deg, #5a49c5 0%, #0c3f6c 38.53%);
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.loading-wave {
  position: absolute;
  top: -50px;
  left: 0;
  width: 200%;
  height: 100px;
  background: linear-gradient(180deg, #7a72ec 0%, #544db5 100%);
  border-radius: 45%;
  animation: wave 5s infinite;
}

@keyframes wave {
  0% {
    transform: translateX(-100%);
  }
  25% {
    transform: translateX(-50%);
  }
  50% {
    transform: translateX(0%);
  }
  75% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes load {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

/* Loading Bar Animation */
.loading-bar {
  animation: load 5s ease-in-out forwards;
}
/* Modal Styling */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: black;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
  }
  
  button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  